@media only screen and (min-width: 250px) {
    .movie-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em;
        color: #fff;
    }
}

@media only screen and (min-width: 750px) {
    .movie-details {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 79vh;
        width: 100vw;
        overflow: hidden;
        color: #fff;
    }
}

@media only screen and (min-width: 1000px) {
    .movie-details {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 86vh;
        width: 100vw;
        overflow: hidden;
        color: #fff;
    }
}

.description {
    width: 21.75em;
    height: 31.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px 0px 20px;
}

.movie-details-container {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-mask {
    background: black;
    width: 100%;
    height: 100%;
    opacity: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

button {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 80px;

}

button:hover {
    background-color: #670019;
    color: #fff;
    box-shadow: 0 5px 5px 0 rgba(255,255,255,0.24);
  }