.movie-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 86vh;
    width: 100vw;
    overflow: hidden;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.movie-image {
    height: 30em;
    width: 22em;
    margin-top: 70px;
    border-radius: 1vh;
   
}